*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    height: 5%;
    width: 5%;
}
.card-img-top{
    height:200px ;
    width: 100%;
    object-fit: contain;
 }
/* .admin_image{
    width: 100px;
    object-fit: contain;
} */ 